<h1>Create a new Book!</h1>
<form action="/books" method="post">
  <label>Author</label>
  <input type="text" name="book[author]"/>
  <label>Title</label>
  <input type="text" name="book[title]"/>
  <label>Snippet</label>
  <input type="text" name="book[snippet]"/>
  <input type="submit" value="Create a New Book!"/>
</form>
